<div id='header' class='container-full'>
    <div class='container'>
        <h1>
            <a href=''>Slate
                {% if not g.user.is_anonymous %}
                    <span>{{ g.user.name }}</span>
                    <ul class='list-inline pull-right'>
                        <li><a href='account/settings'>Settings</a></li>
                        <li><a href='account'>Account</a></li>
                    </ul>
                {% else %}
                    <span>No user logged in.</span>
                {% endif %}
            </a>
        </h1>
    </div>
</div>

{% with messages = get_flashed_messages(category_filter=['error']) %}
    {% if messages %}
    <div class=flashes>
        <div id='error-message' class='container-full'>
            <div class='container'>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=['success']) %}
    {% if messages %}
    <div class=flashes>
        <div id='success-message' class='container-full'>
            <div class='container'>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}